*{margin: 0;padding: 0;}
li{list-style: none;}
a{text-decoration: none;}
header{position: relative;top: 0;height:60px;background-color:rgba(255,255,255,.5);width: 100%;}

header h1{width: 200px;height: 100%;float: left;margin: 0 10px;line-height:60px;font-size: 28px;background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.85, #ff2), color-stop(1, #f22));color: transparent;-webkit-background-clip: text;cursor: pointer; }

header h1:hover{background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #f00), color-stop(0.15, #ffa3ff), color-stop(0.3, #b5b5ff), color-stop(0.45, #efa434), color-stop(0.6, #78faac), color-stop(0.85, #fe64f9), color-stop(1, #89fad5));color: transparent;-webkit-background-clip: text;cursor: pointer; }

header nav{width:600px;height: 100%;float: right;}
header nav li{width:600px;height: 100%;float:left;}
header nav  ul li{width: auto; padding: 0 5px;height: 100%;float:left;}
header nav  ul li a{line-height:60px;font-size: 20px;}
header nav  ul li a:hover{border-bottom: 5px double red;background: #fff785;padding: 5px 10px;
border-radius: 8px;cursor: pointer;}


aside{position: relative;top:0;height:640px;background-color:rgba(255,255,255,.5);width: 100%;}

footer{position: relative;bottom:0;width:100%;height:40px;text-align: center;background-color: rgba(0, 0, 0, .4);line-height: 40px;color: #ffffff;}